[Desktop Entry]
Icon=image-png
Name=Screenshot_20220722_090529.png
Type=Link
URL[$e]=file:$HOME/Screenshot_20220722_090529.png
X-KDE-LastOpenedWith=org.kde.gwenview
