[Desktop Entry]
Name=MONOPOLY Poker
Comment=Play this game on Steam
Exec=steam steam://rungameid/1474700
Icon=steam_icon_1474700
Terminal=false
Type=Application
Categories=Game;
